{% extends 'admin_side/base.html' %}
{% load static %}
{% block title %} Edit Variant {% endblock %}
{% block  body %}




<section class="content-main">
    <div class="row">
        <div class="col-9">
            <div class="content-header">
                <h2 class="content-title"> Edit Variant for {{product_variant.product_variant_slug}}</h2>
                <div>
                    
                   
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="card mb-4">
                <div class="card-header">
                    <h4>verient Details</h4>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        
                            <div class="row">
              
                                {% for attribute_name, attribute_values in attribute_dict.items %}
                                <div class="col-3">
                                  <label class="form-label">{{attribute_name}}</label>
                                  <select name="atributes_{{ forloop.counter }}" class="form-control ">
                                      {% for value in attribute_values %}
                                      {% if value.id == product_variant.attributes.all.0.id %}
                                            <!-- Preselect the attribute value associated with the product variant -->
                                            <option value="{{ value.id }}" selected>{{ value.atribute_value }}</option>
                                        {% else %}
                                            <option value="{{ value.id }}">{{ value.atribute_value }}</option>
                                        {% endif %}
                                      {% endfor %}
                                  </select>
                                </div>
                                {% endfor %}
                              </div>
                          
                        <div class="row">
                            <div class="col-lg-4">
                            
                                <div class="mb-4">
                                    <label for="{{form.sku_id.id_for_label}}" class="form-label">Stock </label>
                                    <input type="text" value="{{product_variant.stock}}" class="form-control" name="stock"> 
                                </div>
                            
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <img src="{{product_variant.thumbnail_image.url}}" class="img-lg img-thumbnail" alt="Item">
                                
                            </div>
                            <!-- <div class="col-lg-6">
                                <div class="input-upload">
                                    <label for="variant_image">Image</label>
                                    <input class="form-control" type="file" required="True" name='thumbnail'>
                                </div>

                            </div> -->
                        </div>
                        
                        

                       
                         
                        <div class="row">
                            <div class="col-lg-2">
                                <div class="mb-4">
                                    <button type="submit" class="btn btn-primary btn-sm rounded col-lg-12">Update</button>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="mb-4">
                                    <a href="{% url 'product_details:delete_variant' product_variant.id %}" class="btn btn-primary btn-sm rounded">Delete</a>  
                                </div>  
                            </form>
                            </div>
                            <div class="col-lg-2">
                                <button type="button" class="btn btn-primary btn-md rounded" data-toggle="modal" data-target="#changeImageModal">
                                    Change Image
                                </button>
                                
                                <div class="modal fade" id="changeImageModal" tabindex="-1" role="dialog" aria-labelledby="changeImageModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="changeImageModalLabel">Add Address</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <!-- Address Form -->
                                                <form method="post" enctype="multipart/form-data" action="#">
                                                    {% csrf_token %}
                                                    <input type="file" name="new_image">
                                                    <button type="submit" class="btn btn-primary">Upload</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                    </div>
                       
                       
                </div>
            </div> <!-- card end// -->
       
    </div>
    
</section> 

{% endblock %}      


