{% extends 'admin_side/base.html' %}
{% load static %}
{% block title %} Product list {% endblock %}
{% block  body %}

<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Products List</h2>
            
        </div>
       
    </div>
    <div class="card mb-4">
         <!-- card-header end// -->
        <div class="card-body">
            
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Image</th>
                                        <th>Product</th>
                                        <th>Categary</th>
                                        <th>Sale Price</th>                                    
                                        <th class="text-end">Availability</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr><p>Click to view details</p></tr>
                                    
                                    {% for product in products %}
                                    <tr>
                                        <td>
                                            <img src="{{product.image.url}}" class="img-sm img-thumbnail" alt="">
                                        </td>
                                        <td><a href="{% url 'product_details:update_product'  product.id %}"> <h6 class="mb-0">{{ product.product_slug }}</h6></a></td>
                                        <td>{{product.product_catg.category_name}}</td>
                                        <td>{{ product.sale_price }}</td>
                                        <td class="text-end">
                                            <span class="badge rounded-pill {% if product.is_active %} alert-success {% else %} alert-danger {% endif %}">
                                                {% if product.is_active %} Active {% else %}Out Of Stock {% endif %} </span>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
            
                        
        
             <!-- itemlist  .// -->
        </div> <!-- card-body end// -->
    </div> <!-- card end// -->
    
</section> 

{% endblock %}