{% extends 'admin_side/base.html' %}
{% load static %}
{% block title %} Users List {% endblock %}
{% block  body %}

<section class="content-main">
    <div class="content-header">
        <h2 class="content-title">Users List</h2>
    </div>
    <div class="card mb-4">
        <header class="card-header">
            <div class="row gx-3">
                <div class="col-lg-4 col-md-6 me-auto">
                    <form action="{% url 'adminlog:users_list' %}" method="get">
                        <input type="text" name="query" placeholder="Search..." class="form-control">
                        
                    
                </div>
                <div class="col-lg-8 col-md-3 col-6">
                    <button type="submit" class="btn btn-outline-primary">Search</button>
                </div>
            </form>
                
            </div>
        </header> <!-- card-header end// -->
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Users Id</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th> Action </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in page_obj %}
                        <tr>
                            <td> {{ forloop.counter }}</td>
                            <td>{{user.username}}</td>
                            <td>{{user.email}}</td>
                            <td>
                                <form id="blockUserForm_{{ user.id }}" method="post" action="{% url 'adminlog:block_unblock_user' user.id %}" style="display: inline;">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-sm {% if not user.is_active %}btn-danger{% else %}btn-success{% endif %}">
                                        {% if not user.is_active %}Unblock{% else %}Block{% endif %}
                                    </button>
                                </form>
                            </td>
                            
                        </tr>
                        
                        {% endfor %}
                        
                    </tbody>
                    <div class="pagination">
                        <span class="step-links">
                            {% if page_obj.has_previous %}
                                <a href="?page=1">&laquo; first</a>
                                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                            {% endif %}
                    
                            <span class="current">
                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                            </span>
                    
                            {% if page_obj.has_next %}
                                <a href="?page={{ page_obj.next_page_number }}">next</a>
                                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                            {% endif %}
                        </span>
                    </div>
                </table> <!-- table-responsive.// -->
            </div>
        </div> <!-- card-body end// -->
    </div> <!-- card end// -->
    
</section>

{% endblock %}