{% extends 'user_log/base.html' %}
{% load static %}
{% block title %} Profile {% endblock %}
{% block  body %}



<div class="container">
    <div class="raw">
        <section class="content-body p-xl-4">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-6">
                        
                            <div class="col-6  mb-3">
                                <label class="form-label">Name</label>
                                <input class="form-control" type="text" value="{{accounts.username}}" placeholder="Type here" name="user_name">
                            </div> <!-- col .// -->
                             <!-- col .// -->
                            <div class="col-lg-6  mb-3">
                                <label class="form-label">Email</label>
                                <input class="form-control" type="email" value="{{accounts.email}}" name="user_email">
                            </div> <!-- col .// -->
                            <div class="col-lg-6  mb-3">
                                <label class="form-label">Phone</label>
                                <input class="form-control" type="text" placeholder="No Number" value="{{ accounts.phone }}" name="user_phone">
                                
                            </div> <!-- col .// -->
                            <!-- col .// -->
                        
                        
                    </div> <!-- col.// -->
                    <aside class="col-lg-4">
                        <figure class="text-lg-center">
                           
                            
                        </figure>

                        <div class="row">
                            <div class="col-lg-6 mb-3">
                               
                                {% if user %}
                                    {% if user.image %}
                                        <img src="{{ user.image.url }}" alt="User Image">
                                    {% else %}
                                        <!-- Use default image URL -->
                                        <img src="{% static 'image_admin/people/default_image.png' %}" alt="Default Image">
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div class="input-upload">
                                <label for="user_image">Image</label>
                                <input class="form-control" type="file" required="True" name="image_feild">
                            </div>
                        </div>
                    </aside> <!-- col.// -->
                </div> <!-- row.// -->
                <br>
                <button class="btn btn-primary" type="submit">Save changes</button>
            </form>
            <hr class="my-5">
            <!-- row.// -->
        </section>

    </div>
</div>

{% endblock %}