{% extends 'user_log/base.html' %}
{% load static %}
{% block title %} Successfull {% endblock %}
{% block  body %}

<div class="container-fluid">
    <div class="row mt-30 mb-30">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <div class="card text-center mt-60 mb-60">
                <div class="card-header">
                  Your Order was successfully completed
                </div>
                <div class="card-body">
                  <h5 class="card-title">Thank you {{request.user.username}} for shopping with us</h5>
                  <div class="mt-10 mb-10">
                    <a href="{% url 'log:index' %}" class="btn btn-primary">Continue Shopping</a>
                    {% if new_order %}
                    <a href="{% url 'user_area:order_details' new_order.id %}" class="btn btn-primary">View Order Details</a>
                    {% endif %}
                  </div>
                  
                </div>
                <div class="card-footer text-muted">
                  <a href="{% url 'order_mng:invoice' new_order.id %}">Download Invoice</a>
                </div>
              </div>
        </div>
        <div class="col-lg-3"></div>
    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script>
    // Disable browser back button functionality (not recommended)
    history.pushState(null, null, location.href);
    window.onpopstate = function () {
        history.go(1);
    };
</script>
{% endblock %}